<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} &raquo; LaborAutonomo</title>
        {% block header %}
        <link rel="stylesheet" href="css/structure.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
        {% endblock %}
    </head>
    <body>
        <div id='spine'>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>