<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} &raquo; LaborAutonomo</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>