<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - LaborAutonomo</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">{{'Início'|trans}}</a></li>
                <li><a href="/contact">{{'Contato'|trans}}</a></li>
            </ul>
        </nav>

        {% block content %}{% endblock %}
    </body>
</html>