{% extends "base.twig" %}

{% block content %}
<header><h1>{{'Contato'|trans}}</h1></header>

<form action="#" method="post">
    {{ form_widget(form) }}

    <button type="submit">{{'Enviar mensagem'|trans}}</button>
</form>
{% endblock %}