/* HIGHLIGHT */

.markdown-body .highlight pre, .markdown-body pre {
  background-color: #f7f7f7;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.markdown-body
{
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow: hidden;
    word-wrap: break-word;
}
.markdown-body>*:first-child
{
    margin-top: 0 !important;
}
.markdown-body>*:last-child
{
    margin-bottom: 0 !important;
}
.markdown-body .absent
{
    color: #c00;
}
.markdown-body .anchor
{
    bottom: 0;
    display: block;
    left: 0;
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 6px;
    position: absolute;
    top: 0;
}
.markdown-body .anchor:focus
{
    outline: none;
}
.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6
{
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 16px;
    margin-top: 1em;
    position: relative;
}
.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link
{
    color: #000;
    display: none;
    vertical-align: middle;
}
.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor
{
    line-height: 1;
    margin-left: -30px;
    padding-left: 8px;
    text-decoration: none;
}
.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link
{
    display: inline-block;
}
.markdown-body h1 tt,.markdown-body h1 code,.markdown-body h2 tt,.markdown-body h2 code,.markdown-body h3 tt,.markdown-body h3 code,.markdown-body h4 tt,.markdown-body h4 code,.markdown-body h5 tt,.markdown-body h5 code,.markdown-body h6 tt,.markdown-body h6 code
{
    font-size: inherit;
}
.markdown-body h1
{
    border-bottom: 1px solid #eee;
    font-size: 2.25em;
    line-height: 1.2;
    padding-bottom: 0.3em;
}
.markdown-body h2
{
    border-bottom: 1px solid #eee;
    font-size: 1.75em;
    line-height: 1.225;
    padding-bottom: 0.3em;
}
.markdown-body h3
{
    font-size: 1.5em;
    line-height: 1.43;
}
.markdown-body h4
{
    font-size: 1.25em;
}
.markdown-body h5
{
    font-size: 1em;
}
.markdown-body h6
{
    color: #777;
    font-size: 1em;
}
.markdown-body p,.markdown-body blockquote,.markdown-body ul,.markdown-body ol,.markdown-body dl,.markdown-body table,.markdown-body pre
{
    margin-bottom: 16px;
    margin-top: 0;
}
.markdown-body hr
{
    background-color: #e7e7e7;
    border: 0 none;
    height: 4px;
    margin: 16px 0;
    padding: 0;
}
.markdown-body ul,.markdown-body ol
{
    padding-left: 2em;
}
.markdown-body ul.no-list,.markdown-body ol.no-list
{
    list-style-type: none;
    padding: 0;
}
.markdown-body ul ul,.markdown-body ul ol,.markdown-body ol ol,.markdown-body ol ul
{
    margin-bottom: 0;
    margin-top: 0;
}
.markdown-body li>p
{
    margin-top: 16px;
}
.markdown-body dl
{
    padding: 0;
}
.markdown-body dl dt
{
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    margin-top: 16px;
    padding: 0;
}
.markdown-body dl dd
{
    margin-bottom: 16px;
    padding: 0 16px;
}
.markdown-body blockquote
{
    border-left: 4px solid #ddd;
    color: #777;
    padding: 0 15px;
}
.markdown-body blockquote>:first-child
{
    margin-top: 0;
}
.markdown-body blockquote>:last-child
{
    margin-bottom: 0;
}
.markdown-body table
{
    display: block;
    overflow: auto;
    width: 100%;
    word-break: keep-all;
    word-break: normal;
}
.markdown-body table th
{
    font-weight: bold;
}
.markdown-body table th,.markdown-body table td
{
    border: 1px solid #ddd;
    padding: 6px 13px;
}
.markdown-body table tr
{
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.markdown-body table tr:nth-child(2n)
{
    background-color: #f8f8f8;
}
.markdown-body img
{
    box-sizing: border-box;
    max-width: 100%;
    moz-box-sizing: border-box;
}
.markdown-body span.frame
{
    display: block;
    overflow: hidden;
}
.markdown-body span.frame>span
{
    border: 1px solid #ddd;
    display: block;
    float: left;
    margin: 13px 0 0;
    overflow: hidden;
    padding: 7px;
    width: auto;
}
.markdown-body span.frame span img
{
    display: block;
    float: left;
}
.markdown-body span.frame span span
{
    clear: both;
    color: #333;
    display: block;
    padding: 5px 0 0;
}
.markdown-body span.align-center
{
    clear: both;
    display: block;
    overflow: hidden;
}
.markdown-body span.align-center>span
{
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}
.markdown-body span.align-center span img
{
    margin: 0 auto;
    text-align: center;
}
.markdown-body span.align-right
{
    clear: both;
    display: block;
    overflow: hidden;
}
.markdown-body span.align-right>span
{
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}
.markdown-body span.align-right span img
{
    margin: 0;
    text-align: right;
}
.markdown-body span.float-left
{
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}
.markdown-body span.float-left span
{
    margin: 13px 0 0;
}
.markdown-body span.float-right
{
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}
.markdown-body span.float-right>span
{
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}
.markdown-body code,.markdown-body tt
{
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
.markdown-body code:before,.markdown-body code:after,.markdown-body tt:before,.markdown-body tt:after
{
    content: "\00a0";
    letter-spacing: -0.2em;
}
.markdown-body code br,.markdown-body tt br
{
    display: none;
}
.markdown-body del code
{
    text-decoration: inherit;
}
.markdown-body pre>code
{
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;
}
.markdown-body .highlight
{
    margin-bottom: 16px;
}
.markdown-body .highlight pre,.markdown-body pre
{
    background-color: #f7f7f7;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}
.markdown-body .highlight pre
{
    margin-bottom: 0;
    word-break: normal;
}
.markdown-body pre
{
    word-wrap: normal;
}
.markdown-body pre code,.markdown-body pre tt
{
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: initial;
    overflow: initial;
    padding: 0;
    word-wrap: normal;
}
.markdown-body pre code:before,.markdown-body pre code:after,.markdown-body pre tt:before,.markdown-body pre tt:after
{
    content: normal;
}
.markdown-body kbd
{
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    color: #555;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}
.pl-c
{
    color: #969896;
}
.pl-c1,.pl-mdh,.pl-mm,.pl-mp,.pl-mr,.pl-s1 .pl-v,.pl-s3,.pl-sc,.pl-sv
{
    color: #0086b3;
}
.pl-e,.pl-en
{
    color: #795da3;
}
.pl-s1 .pl-s2,.pl-smi,.pl-smp,.pl-stj,.pl-vo,.pl-vpf
{
    color: #333;
}
.pl-ent
{
    color: #63a35c;
}
.pl-k,.pl-s,.pl-st
{
    color: #a71d5d;
}
.pl-pds,.pl-s1,.pl-s1 .pl-pse .pl-s2,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre,.pl-src
{
    color: #df5000;
}
.pl-mo,.pl-v
{
    color: #1d3e81;
}
.pl-id
{
    color: #b52a1d;
}
.pl-ii
{
    background-color: #b52a1d;
    color: #f8f8f8;
}
.pl-sr .pl-cce
{
    color: #63a35c;
    font-weight: bold;
}
.pl-ml
{
    color: #693a17;
}
.pl-mh,.pl-mh .pl-en,.pl-ms
{
    color: #1d3e81;
    font-weight: bold;
}
.pl-mq
{
    color: #008080;
}
.pl-mi
{
    color: #333;
    font-style: italic;
}
.pl-mb
{
    color: #333;
    font-weight: bold;
}
.pl-md,.pl-mdhf
{
    background-color: #ffecec;
    color: #bd2c00;
}
.pl-mdht,.pl-mi1
{
    background-color: #eaffea;
    color: #55a532;
}
.pl-mdr
{
    color: #795da3;
    font-weight: bold;
}
.ace_gutter
{
    background: #ffffff;
    color: #999999;
}
.ace_print-margin
{
    background: #e8e8e8;
    width: 1px;
}
.ace-github-light
{
    background-color: #ffffff;
    color: #333333;
}
.ace_cursor
{
    color: #000000;
}
.ace_marker-layer .ace_selection
{
    background: #c8c8fa;
}
.ace_multiselect .ace_selection.ace_start
{
    border-radius: 2px;
    box-shadow: 0 0 3px 0px #ffffff;
}
.ace_marker-layer .ace_step
{
    background: #c6dbae;
}
.ace_marker-layer .ace_bracket
{
    border: 1px solid #c0c0c0;
    margin: -1px 0 0 -1px;
}
.ace_marker-layer .ace_active-line
{
    background: #f5f5f5;
}
.ace_gutter-active-line
{
    background-color: #f5f5f5;
}
.ace_marker-layer .ace_selected-word
{
    border: 1px solid #c8c8fa;
}
.ace_fold
{
    background-color: #a71d5d;
    border-color: #333333;
}
.ace_keyword
{
    color: #a71d5d;
}
.ace_constant
{
    color: #0086b3;
}
.ace_support
{
    color: #0086b3;
}
.ace_support.ace_constant
{
    color: #0086b3;
}
.ace_support.ace_type
{
    color: #a71d5d;
}
.ace_storage
{
    color: #a71d5d;
}
.ace_storage.ace_type
{
    color: #a71d5d;
}
.ace_invalid.ace_illegal
{
    background-color: #b52a1d;
    color: #f8f8f8;
    font-style: italic;
    text-decoration: underline;
}
.ace_invalid.ace_deprecated
{
    color: #b52a1d;
    font-style: italic;
    text-decoration: underline;
}
.ace_string
{
    color: #df5000;
}
.ace_string.ace_regexp
{
    color: #df5000;
}
.ace_comment
{
    color: #969896;
}
.ace_variable
{
    color: #1d3e81;
}
.ace_entity.ace_name
{
    color: #795da3;
}
.ace_entity.ace_name.ace_tag
{
    color: #63a35c;
}
.ace_markup.ace_heading
{
    color: #1d3e81;
}
.ace_markup.ace_list
{
    color: #693a17;
}
.focus-content
{
    width: 620px;
}

/* HIGHLIGHT */

.markdown-body {
    color: #333;
}

.markdown-body pre {
    white-space: pre !important;
}

.markdown-body a {
    color: #4183c4;
    text-decoration: none;
}

.item-project {
    color: #222222;
    cursor: pointer;
    padding: 1px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.item-project:hover {
    background-color: #f6f6f6;
}

aside.project-data {
    background-color: #F1F1F1;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    font-family: my-sans-serif, Arial, sans-serif;
    margin-top: 10px;
    padding: 15px;
    color: #626262;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 0.8em;
}

aside.project-data a {
    color: #777777;
    text-shadow: none;
}

aside.project-data p {
    margin: 0;
}

aside.project-data h1, aside.project-data h2, aside.project-data h3, aside.project-data h4, aside.project-data h5 {
    color: #4353CD;
    margin: 3px 0;
}

aside.project-data hr {
    border-color: #E9E9E9;
}

.version-note p {
    color: #858585;
    font-family: my-sans-serif, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 15px;
}

aside.project-tags {
    background-color: #FAFAFA;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
    font-family: my-sans-serif, Arial, sans-serif;
    margin-top: 30px;
    padding: 15px;
    color: #626262;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 0.8em;
    line-height: 40px;
}

aside.project-tags a{
    color: #4183C4!important;
    text-decoration: none;
    text-shadow: none;
}

header.projects a {
    color: #8D8D8D;
}

header.projects a:hover {
    color: #555;
}